#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#github-container {
  display: flex;
}

ul {
  list-style: none;
}

img {
  height: 100px;
  width: 100px;
}

/* li.user {
  width: 50px;
} */

li.repo {
  max-width: 500px;
}